* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

p,
button,
a {
  font-size: 16px;
}

#root {
  overflow-x: hidden;
}

:root {
  --global--bg-color: #eeeeee;

  --global--color: #757575;
  --global--color-hover: #575656;
  --global--color-active: #404040;

  --global-radius: 8px;
  --global-border: 1px solid #d9d9d9;
  --global-border-hover: 1px solid #a9a9a9;

  --global-box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.2);
}
