.cart {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cart .leftSide h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.cart .leftSide .cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart .rightSide .actions {
  display: flex;
  gap: 5px;
}

.cart .rightSide .actions button {
  position: relative;
  width: 100px;
  padding: 10px;
  text-align: center;
  border: var(--global-border);
  border-radius: var(--global-radius);
  font-weight: 700;
}

.cart .rightSide .actions button:hover {
  cursor: pointer;
  border: var(--global-border-hover);
}

.cart .rightSide .actions .btnPrimary {
  background-color: var(--global--color);
  color: #fff;
}

.cart .rightSide .actions .btnPrimary:hover {
  background-color: var(--global--color-hover);
}

.cart .rightSide .actions .btnPrimary:active {
  background-color: var(--global--color-active);
}

.cart .rightSide .actions .btnSecondary {
  background-color: #d3d3d3;
}

.cart .rightSide .actions .btnSecondary:hover {
  background-color: #c3c3c3;
}

.cart .rightSide .actions .btnSecondary:active {
  background-color: #bababa;
}

@media screen and (min-width: 800px) {
  .cart {
    flex-direction: row;
  }

  .cart .leftSide {
    flex-basis: 80%;
    max-width: 600px;
  }

  .cart .leftSide .cardsContainer {
    padding: 20px;
    overflow-y: auto;
    max-height: 600px;
  }

  .cart .rightSide {
    flex-basis: 20%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 600px;
  }
}
