.changePassword {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--global-border);
  border-radius: var(--global-radius);
  padding: 10px;
}

.changePassword form {
  width: 100%;
}

.changePassword form .error {
  color: #f00;
}
