.changePassword {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changePassword form {
  width: 100%;
  border: var(--global-border);
  border-radius: var(--global-radius);
}

.changePassword form h2 {
  text-align: center;
}

.changePassword form .error {
  color: #f00;
}
