.confirmUser {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.confirmUser a {
  padding: 10px;
  text-align: center;
  border: var(--global-border);
  border-radius: var(--global-radius);
  background-color: var(--global--color);
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.confirmUser a:hover {
  cursor: pointer;
  border: var(--global-border-hover);
  background-color: var(--global--color-hover);
}

.confirmUser a:active {
  top: 2px;
  background-color: var(--global--color-active);
}
