footer {
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer div h3 {
  font-size: 1.2rem;
  color: #000;
}

footer div a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

footer div a:hover {
  text-decoration: underline;
}

footer div:nth-child(3) a {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer div .icon {
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
