.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.main .filters {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.main .filters .filtersName {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.main .filters .filtersName p {
  border: var(--global-border);
  background-color: #fff;
  width: max-content;
  padding: 5px;
}

.main .filters .filtersName p:hover {
  cursor: pointer;
}

.main .filters .filtersName p span {
  opacity: 0.5;
}

.main .filters .reset {
  position: relative;
  width: 100px;
  padding: 10px;
  text-align: center;
  border: var(--global-border);
  border-radius: var(--global-radius);
  background-color: var(--global--color);
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.main .filters .reset:hover {
  cursor: pointer;
  border: var(--global-border-hover);
  background-color: var(--global--color-hover);
}

.main .filters .reset:active {
  top: 2px;
  background-color: var(--global--color-active);
}

.main .filters .categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main .filters .categories > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main .filters .categories * {
  cursor: pointer;
  width: max-content;
}

.main .filters .categories div *:hover {
  padding-left: 10px;
}

.main .filters .priceFilter {
  display: flex;
  gap: 5px;
}

.main .filters .priceFilter input {
  max-width: 90px;
}

.main .filters button {
  background-color: rgb(190, 190, 190);
  border: none;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main .filters button:enabled {
  background-color: var(--global--color);
}

.main .filters button:hover:enabled {
  cursor: pointer;
  background-color: var(--global--color-hover);
}

.main .filters button:active:enabled {
  background-color: var(--global--color-active);
}

.main .filters button * {
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.main .filters input,
.main .filters select {
  padding: 5px;
  border: var(--global-border);
  border-radius: var(--global-radius);
  outline: none;
}

.main .filters input:focus,
.main .filters select:focus {
  border: var(--global-border-hover);
}

.main .cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .cards .sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.main .cards .sort p {
  font-weight: 700;
}

.main .cards .sort select {
  width: 150px;
  border: none;
  padding: 2px;
  outline: none;
}

.main .filtActive {
  font-weight: 700;
  padding-left: 10px;
}

@media screen and (min-width: 600px) {
  .main {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .main .filters {
    flex-basis: 30%;
    max-width: 250px;
  }

  .main .cards {
    flex-basis: 70%;
    max-width: 600px;
  }
}
