.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.main .filters {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.main .cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .filters .categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main .filters .categories * {
  cursor: pointer;
}

.main .filters .priceFilter {
  display: flex;
  gap: 5px;
}

.main .filters .priceFilter input {
  max-width: 90px;
}

.main .active {
  font-weight: 700;
  padding-left: 10px;
  pointer-events: none;
}

@media screen and (min-width: 600px) {
  .main {
    flex-direction: row;
    justify-content: center;
  }

  .main .filters {
    flex-basis: 30%;
    max-width: 250px;
  }

  .main .cards {
    flex-basis: 70%;
    max-width: 800px;
  }
}
