.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout .content {
  flex-grow: 1;
  background-color: var(--global--bg-color);
  position: relative;
  /* display: flex; */
}

.layout .content .children {
  /* flex-grow: 1; */
}
