.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Modal {
  position: relative;
  flex-grow: 1;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  border: var(--global-border);
  border-radius: var(--global-radius);
}

.Modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border: var(--global-border);
  border-radius: var(--global-radius);
  background-color: var(--global--color);
  color: #fff;
}

.Modal .close:hover {
  cursor: pointer;
  border: var(--global-border-hover);
  background-color: var(--global--color-hover);
}

.Modal .close:active {
  top: 12px;
  background-color: var(--global--color-active);
}

.Modal h2 {
  text-align: center;
  margin-bottom: 10px;
}

.Modal .error {
  color: #f00;
}
