.myPublications {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.myPublications .formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formContainer > h2,
.cards > h2 {
  font-size: 30px;
  text-align: center;
}

.formContainer .error {
  color: #f00;
}

.myPublications h2 {
  margin-bottom: 20px;
}

.myPublications .cards .cardsContainer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

@media screen and (min-width: 900px) {
  .myPublications {
    flex-direction: row;
  }

  .myPublications .formContainer {
    flex-basis: 40%;
  }

  .myPublications .cards {
    max-height: 600px;
    flex-basis: 60%;
    overflow-y: hidden;
  }

  .myPublications .cards .cardsContainer {
    max-height: 500px;
  }
}
