.myPublications {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.myPublications .formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formContainer > h2,
.cards > h2 {
  font-size: 30px;
  text-align: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formContainer form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formContainer form textarea {
  height: 200px;
  padding: 5px;
  outline: none;
  resize: none;
}

.formContainer form div input,
.formContainer form div select {
  padding: 5px;
  outline: none;
}

.formContainer form .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.formContainer form input[type="submit"] {
  width: 86px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  position: relative;
}

.formContainer form input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid #a9a9a9;
}

.formContainer form input[type="submit"]:active {
  top: 2px;
}

.formContainer form a {
  color: #000;
  text-decoration: none;
}

.formContainer form a:hover {
  text-decoration: underline;
}

.formContainer .error {
  color: #f00;
}

.myPublications .cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 900px) {
  .myPublications {
    flex-direction: row;
  }

  .myPublications .formContainer {
    flex-basis: 40%;
  }

  .myPublications .cards {
    flex-basis: 60%;
  }
}
