.card {
  position: relative;
  max-width: 600px;
  border: var(--global-border);
  border-radius: var(--global-radius);
  background-color: #fff;
  box-shadow: var(--global-box-shadow);
}

.card p {
  word-break: break-all;
}

.card .view {
  font-size: 1rem;
  font-weight: 700;
  width: 60px;
  height: 30px;
  border: var(--global-border);
  border-radius: var(--global-radius);
  background-color: var(--global--color);
  color: #fff;
}

.card .view:hover {
  background-color: var(--global--color-hover);
  border: var(--global-border-hover);
}

.card .view:active {
  background-color: var(--global--color-active);
}

.card:hover {
  border: var(--global-border-hover);
}

.card .publication {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.card .publication img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.card .publication .data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: 1px soldi black;
}

.card .actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}

.card .actions button {
  font-size: 1rem;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border: var(--global-border);
  border-radius: var(--global-radius);
  background-color: var(--global--color);
  color: #fff;
}

.card .actions button:hover {
  cursor: pointer;
  border: var(--global-border-hover);
  background-color: var(--global--color-hover);
}

.card .actions button:active {
  top: 12px;
  background-color: var(--global--color-active);
}

@media screen and (min-width: 600px) {
  .card .publication {
    flex-direction: row;
    justify-content: flex-start;
  }

  .card .publication img {
    margin: 0;
  }
}
