.hidden {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -120px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 10;
}

.show {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  z-index: 10;
}

.userSettings {
  width: 120px;
  background-color: var(--global--color-hover);
  border: var(--global-border);
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userSettings a {
  padding: 10px;
}

.userSettings a:hover {
  font-weight: 700;
  cursor: pointer;
  padding-left: 20px;
}

.userSettings a {
  color: #fff;
  text-decoration: none;
}
